<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>YOUR POV</h1>
    </header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('businesses') }}">Businesses</a></li>
        <li><a href="{{ url_for('mentorship') }}">Mentorship</a></li>
      </ul>
    </nav>
    <main>
      <section class="user-profile">
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Your Profile Details:</p>
        <ul>
          <li>Username: {{ user.username }}</li>
          <li>Email: {{ user.email }}</li>
        </ul>
      </section>
    </main>

    <footer>&copy; 2023 Alumni Network</footer>
    <script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
  </body>
</html>
